<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HHCLHRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnRoute</display-name>
    <servlet-name>ConnRoute</servlet-name>
    <servlet-class>com.hhclhrm.services.ConnectionRouting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnRoute</servlet-name>
    <url-pattern>/ConnRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LOP_Servicess</display-name>
    <servlet-name>LOP_Servicess</servlet-name>
    <servlet-class>com.hhclhrm.services.LOP_Servicess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOP_Servicess</servlet-name>
    <url-pattern>/LOP_Servicess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LOP_Db_insertion</display-name>
    <servlet-name>LOP_Db_insertion</servlet-name>
    <servlet-class>com.hhclhrm.services.LOP_Db_insertion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOP_Db_insertion</servlet-name>
    <url-pattern>/LOP_Db_insertion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bank_services</display-name>
    <servlet-name>Bank_services</servlet-name>
    <servlet-class>com.hhclhrm.services.Bank_services</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bank_services</servlet-name>
    <url-pattern>/Bank_services</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bank_Acc_Db_Insert</display-name>
    <servlet-name>Bank_Acc_Db_Insert</servlet-name>
    <servlet-class>com.hhclhrm.services.Bank_Acc_Db_Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bank_Acc_Db_Insert</servlet-name>
    <url-pattern>/Bank_Acc_Db_Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PFUAN_services</display-name>
    <servlet-name>PFUAN_services</servlet-name>
    <servlet-class>com.hhclhrm.services.PFUAN_services</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PFUAN_services</servlet-name>
    <url-pattern>/PFUAN_services</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PF_UAN_Db_insert</display-name>
    <servlet-name>PF_UAN_Db_insert</servlet-name>
    <servlet-class>com.hhclhrm.services.PF_UAN_Db_insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PF_UAN_Db_insert</servlet-name>
    <url-pattern>/PF_UAN_Db_insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Emp_prof_services</display-name>
    <servlet-name>Emp_prof_services</servlet-name>
    <servlet-class>com.hhclhrm.services.Emp_prof_services</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp_prof_services</servlet-name>
    <url-pattern>/Emp_prof_services</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetch_Data</display-name>
    <servlet-name>Fetch_Data</servlet-name>
    <servlet-class>com.hhcl_desk.servlet.Fetch_Data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetch_Data</servlet-name>
    <url-pattern>/Fetch_Data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Servlet</display-name>
    <servlet-name>Update_Servlet</servlet-name>
    <servlet-class>com.hhcl_desk.servlet.Update_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Servlet</servlet-name>
    <url-pattern>/Update_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Empolyee_Details</display-name>
    <servlet-name>Empolyee_Details</servlet-name>
    <servlet-class>com.hhcl_desk.servlet.Empolyee_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Empolyee_Details</servlet-name>
    <url-pattern>/Empolyee_Details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>States</display-name>
    <servlet-name>States</servlet-name>
    <servlet-class>com.hhcl_desk.servlet.States</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>States</servlet-name>
    <url-pattern>/States</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HR_Approvel_List</display-name>
    <servlet-name>HR_Approvel_List</servlet-name>
    <servlet-class>com.hhcl_desk.servlet.HR_Approvel_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HR_Approvel_List</servlet-name>
    <url-pattern>/HR_Approvel_List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fectch_Data</display-name>
    <servlet-name>Fectch_Data</servlet-name>
    <servlet-class>com.hclhrm.Fectch_Data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fectch_Data</servlet-name>
    <url-pattern>/Fectch_Data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.hclhrm.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hhcl_BasicScreen</display-name>
    <servlet-name>Hhcl_BasicScreen</servlet-name>
    <servlet-class>com.hclhrm.Hhcl_BasicScreen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hhcl_BasicScreen</servlet-name>
    <url-pattern>/Hhcl_BasicScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_Regi_services</display-name>
    <servlet-name>Employee_Regi_services</servlet-name>
    <servlet-class>com.hhclhrm.services.Employee_Regi_services</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_Regi_services</servlet-name>
    <url-pattern>/Employee_Regi_services</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500error.jsp</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/400error.jsp</location>
  </error-page>
  <listener>
    <listener-class>com.hhcdesk.sessionlistener.CountUserListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Employee_Reports_services</display-name>
    <servlet-name>Employee_Reports_services</servlet-name>
    <servlet-class>com.hhclhrm.services.Employee_Reports_services</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_Reports_services</servlet-name>
    <url-pattern>/Employee_Reports_services</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reports_Db_call</display-name>
    <servlet-name>Reports_Db_call</servlet-name>
    <servlet-class>com.hhclhrm.services.Reports_Db_call</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reports_Db_call</servlet-name>
    <url-pattern>/Reports_Db_call</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lop_file_upload</display-name>
    <servlet-name>Lop_file_upload</servlet-name>
    <servlet-class>com.hclhrm.upload.Lop_file_upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lop_file_upload</servlet-name>
    <url-pattern>/Lop_file_upload</url-pattern>
  </servlet-mapping>
  
  
  <!--Dash Board  -->
   <servlet>
    <description></description>
    <display-name>EmployeePendingDetails</display-name>
    <servlet-name>EmployeePendingDetails</servlet-name>
    <servlet-class>com.dashboard.EmployeePendingDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeePendingDetails</servlet-name>
    <url-pattern>/EmployeePendingDetails</url-pattern>
  </servlet-mapping>
   
   <servlet>
    <description></description>
    <display-name>ExcelDownload</display-name>
    <servlet-name>ExcelDownload</servlet-name>
    <servlet-class>com.dashboard.ExcelDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelDownload</servlet-name>
    <url-pattern>/ExcelDownload</url-pattern>
  </servlet-mapping>
   
   <servlet>
    <description></description>
    <display-name>Lwp_emp_fetching</display-name>
    <servlet-name>Lwp_emp_fetching</servlet-name>
    <servlet-class>com.lwp.arrear.Lwp_emp_fetching</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lwp_emp_fetching</servlet-name>
    <url-pattern>/Lwp_emp_fetching</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Arrear_lwp_caliculation</display-name>
    <servlet-name>Arrear_lwp_caliculation</servlet-name>
    <servlet-class>com.lwp.arrear.Arrear_lwp_caliculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Arrear_lwp_caliculation</servlet-name>
    <url-pattern>/Arrear_lwp_caliculation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Arrear_load_options</display-name>
    <servlet-name>Arrear_load_options</servlet-name>
    <servlet-class>com.lwp.arrear.Arrear_load_options</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Arrear_load_options</servlet-name>
    <url-pattern>/Arrear_load_options</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>Lop_emp_fetching</display-name>
    <servlet-name>Lop_emp_fetching</servlet-name>
    <servlet-class>com.lwp.arrear.Lop_emp_fetching</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lop_emp_fetching</servlet-name>
    <url-pattern>/Lop_emp_fetching</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Arrear_lop_caliculation</display-name>
    <servlet-name>Arrear_lop_caliculation</servlet-name>
    <servlet-class>com.lwp.arrear.Arrear_lop_caliculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Arrear_lop_caliculation</servlet-name>
    <url-pattern>/Arrear_lop_caliculation</url-pattern>
  </servlet-mapping>

<!-- Bhargavi Letters Start-->
  <servlet>
    <description></description>
    <display-name>DisplayDropdown</display-name>
    <servlet-name>DisplayDropdown</servlet-name>
    <servlet-class>com.hr.letters.DisplayDropdown</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDropdown</servlet-name>
    <url-pattern>/DisplayDropdown</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DisplayName</display-name>
    <servlet-name>DisplayName</servlet-name>
    <servlet-class>com.hr.letters.DisplayName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayName</servlet-name>
    <url-pattern>/DisplayName</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>EmployeeDetails</display-name>
    <servlet-name>EmployeeDetails</servlet-name>
    <servlet-class>com.hr.letters.EmployeeDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDetails</servlet-name>
    <url-pattern>/EmployeeDetails</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LetterPrintReport</display-name>
    <servlet-name>LetterPrintReport</servlet-name>
    <servlet-class>com.hr.letters.LetterPrintReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LetterPrintReport</servlet-name>
    <url-pattern>/LetterPrintReport</url-pattern>
  </servlet-mapping>
  <!-- Bhargavi Letters End-->

<servlet>
    <description></description>
    <servlet-name>EmployeeCTC</servlet-name>
    <servlet-class>com.hclhrm.allowances.EmployeeCTC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeCTC</servlet-name>
    <url-pattern>/EmployeeCTC</url-pattern>
  </servlet-mapping>
  

</web-app>